@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Secular One', sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 50px 0 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

#players-section {
    display: flex;
    gap: 130px;
}

#players-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#players-section div div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.player-sign {
    background-color: white;
    color: black;
    width: 160px;
    height: 40px;
    font-weight: bold;
    font-size: 1.3rem;
}

.player-score {
    background-color: rgb(25, 60, 25);
    width: 90%;
    text-align: center;
    padding: 2px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
}

#game-board:hover {
    cursor: pointer;
}

[data-square="0"],  [data-square="1"], [data-square="2"], [data-square="3"],  [data-square="4"], [data-square="5"] {
    border-bottom: solid white 2px;
}

[data-square="0"],  [data-square="1"], [data-square="3"],  [data-square="4"], [data-square="6"],  [data-square="7"] {
    border-right: solid white 2px;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    color: greenyellow;
}

.game-board-hidden {
    opacity: 0;
    transition: 0.7s;
}

.game-board-show {
    opacity: 100;
    transition: 0.7s;
}

#winner-modal {
    display: none;
}

.winner-modal-show {
    opacity: 100;
    z-index: 1;
    position: fixed;
}

.winner-modal-content {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

