@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Secular One', sans-serif;
}

header {
    text-align: center;
    margin: 50px 0 50px;
}

h1 {
    font-size: 3.7rem;
    color: #9abebb;
}

header p {
    font-size: 1.3rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

#players-section {
    display: flex;
    gap: 130px;
}

#players-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#players-section div div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.player-sign {
    background-color: #284a47;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 40px;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 5px;
}

.player-score {
    background-color: rgb(25, 60, 25);
    width: 45%;
    text-align: center;
    padding: 2px;
    color: black;
}

#cross-score {
    background-color: greenyellow ;
}

#circle-score {
    background-color: #07f5dd;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
}

#game-board:hover {
    cursor: pointer;
}

[data-square="0"],  [data-square="1"], [data-square="2"], [data-square="3"],  [data-square="4"], [data-square="5"] {
    border-bottom: solid white 2px;
}

[data-square="0"],  [data-square="1"], [data-square="3"],  [data-square="4"], [data-square="6"],  [data-square="7"] {
    border-right: solid white 2px;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

.game-board-hidden {
    opacity: 0;
    transition: 0.7s;
}

.game-board-show {
    opacity: 100;
    transition: 0.7s;
}

#winner-modal {
    display: none;
}

.winner-modal-show {
    opacity: 100;
    z-index: 1;
    position: fixed;
}

.round-winner-modal {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next, .play-again {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #346662;
    border-style: none;
    color: #d5e4e3;
    letter-spacing: 1px;
}

.next:hover, .play-again:hover {
    color: white;
}

.game-winner-modal {
    display: none;
}